.categorySlider{
    background-color: rgba(246, 243, 243, 0.541);
    padding: 25px;
    .heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 10px;
       
    }
}