.signUp{
        padding: 20px 200px;
    .second,.third{
        width: 100%;
        padding:2% 10%;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .third{
        button{ margin-bottom: 6px;}
    }
}
.signUp{
    .second{
        form{
            input{
                display: block;
                width: 100%;
                border: none;
                padding: 0.5em;
                border-bottom: solid 1px;
                font-size: 1em;
                margin: 35px 0 0;
                outline: none;
                -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
                transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
                background-color: transparent;
            }
        }
    }
}
@media (max-width:600px){
    .signUp{
        padding: 0px 0px;
    }
}