// .phoneMenu{
//     // background-color:lime;
    
//     display: flex;
//     flex-direction: column;
//     padding: 20px;
//     // border: 1px solid black;
//     top: 90px;
//     left: 10px;
//     z-index: 5;
//     a{

//         margin: 2px;
//         text-decoration: none;
//         color:black ;
//         &:hover{
//             color:lime ;
//         }
//         h4,h2{
//             border-bottom: 1px solid rgb(223, 220, 220);
//             padding-bottom: 1px;
//         }
        
//     }
// }

a{
    text-decoration: none;
}

.phoneMenuWrapper{
    position: absolute;
    top: -1px;
    left: -1px;
    z-index: 5;
    background-color:rgba(0, 0, 0, 0.8);
    width: 100vw;
    color: #252525;
}
.phoneMenu{
    height: 100vh;
    width: 40%;
    background-color: white;
    .closeBar{
        padding: 15px 7.5px;
        background-color:#e44343;
        color: #fff ;
        display: flex;
        align-items:center;
        justify-content: center;
    }
    .phoneMenuButton{
        padding: 25px;
        padding-bottom: 0px;
    }
    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px 30px;
        h3{
            padding: 7.5px 0px;
            
        }
        h4{
            padding-top: 7.5px;
            padding-bottom: 7.5px;
        }
        .categoryLinks{
            padding-left: 15px;
            color: grey;
            
        }
        h5{
            border-bottom: 1px solid grey;
            width: 85%;
            padding:7.5px 0px ;
            padding-left: 10px;
            color: #666
        }
        .socialMedia{
            padding-top: 10px ;
            .socialLogos{
                display: flex;
                justify-content: space-between;
                padding: 20px 0px;
                max-width:80px;

                // align-items: center;
                img {
                max-width: 23px;
            }}
        }
    }
}
