$h1:45px;
.promotions{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.categories{

    padding: 20px;
    
    div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        text-align: center;
        padding :5px;
        h4{
            background-color: greenyellow;
        }
    }
}
.sliderContainer{
    padding: 20px 40px;
    background-color: rgb(228, 228, 228);
    width: 90%;
    margin: auto;
    h2{
        padding: 15px;
    }
}
.advertSection{
    padding: 10px;
    background-color: red;
}
.hspacer{
    height:50px;
}
