.categories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    padding: 10px 30px;
    a{
        background-color: #20e920;;
        text-decoration: none;
        h4{
            padding: .6em;
            text-align: center;
            color: white;
        }
        h4:hover{
                
        }
    }
}
.promotions{
    background-color: rgb(216, 214, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 5px 3px;
    text-align: center;
}
.categorySliderWrapper{
    padding: 10px 40px;
}
.midAdvert{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width:49%;
        height:49%;}
}
.benefitsContainer{
    display: flex;
    padding: 40px 100px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.showMobile{display: none;}
@media (max-width:600px){
    .showWeb{display: none;}
    .showMobile{display:inline;}
    .categorySliderWrapper{
        padding: 10px;
    }
    .categories{
        display: flex;
        flex-direction: column;
        a{
            margin:5px;
        }
    }
}