.checkout{
  padding: 20px 50px; 
}
.checkout-page{
  display: flex;
  flex-direction: column;
  .checkout-header {
    display: flex;
    justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  }
  .checkout-content{
    min-height: 20vh;
  }
}
 .total {
      margin-top: 10px;
      margin-left: auto;
      font-size: 26px;
      display: flex;
      align-items: center;
      .clearCart{
        font-size: 18px;
        &:hover{
          color: greenyellow;
          cursor: pointer;
        }
      }
    }
  @media(max-width:600px){
    .checkout{
      padding: 20px;
      
    }
  }