.publicItem{
    text-align: center;
    width: 150px;
    padding: 5px;
    border: 1px solid rgb(212, 211, 211);
    .item-details{
        padding: 1px;
        p{
            background-color: #41549b;
            padding: 5px;
        }
    }
}