.mailingList{
    background-color: rgba(144, 144, 144, 0.541);
    color:white;
    display: grid;
    grid-template-columns: 2fr 5fr;
    padding: 30px;
    img{
        width:30px;
    }
    div{
        display: flex;
        flex-direction: column;
        padding: 10px;
        label{
            padding-bottom:20px;
        }
    }
}
.logo{
    width: 50%;
}