.logoContainer{
    display: flex;
    align-items: center;
    padding: 10px;
    img{
        height:5%;
        width:5%;
    }
    span{
        font-size: 20px;
        padding-left: 10px;
    }
}