$red: #e74c3c;

.btn {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;  
    // margin: -10px 0 0 0 ;
    padding: 10px 25px 10px 25px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  
    &:hover{
      color: #fff;
      outline: 0;
    }
  }
  
  //BUTTON 1
  .first {
    border: 2px solid $red;
    border-radius: 0.6em;
    color: $red;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 40px 40px $red inset;
    }
    &:focus {
      color: #fff;
      outline: 0;
    }
  }
  .auth {
    border: 2px solid orange;
    color:orange;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    width: 80%;
    &:hover {
      box-shadow: 0 0 40px 40px orange inset;
    }
    &:focus {
      color: black;
      outline: 0;
    }
  }
  .action {
    border: 2px solid green;
    color: green;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    &:hover {
      box-shadow: 0 0 40px 40px green inset;
    }
  }