$primary:green;
$auth:orange;
$action:blue;
.btn{
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.primary{
  color:$primary;
  border: 2px solid $primary;
  border-radius: 0.6em;
  &:hover,:focus{
    box-shadow: 0 0 40px 40px $primary inset;
    color: #fff;
  }
}
.auth{
  color:$auth;
  border: 2px solid $auth;
  width: 100%;
  &:hover,:focus{
    box-shadow: 0 0 40px 40px $auth inset;
    color: #fff;
  }
}
.action {
  color:$action;
  border: 2px solid $action;
  border-radius: 0.6em;
  &:hover,:focus{
    box-shadow: 0 0 40px 40px $action inset;
    color: #fff;
  }
}