.benefits{
    align-items: center;
    text-align: center;
    padding: 10px 50px;
    width: 33.333%;
   
    img{
        max-width: 23px;
    }
}
.delivery,.value{
    border-right: 1px solid rgb(216, 214, 214);
}