.footer{
}
.footerBar{
    padding: 50px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    line-height: 20px;
    background-color: #454545;
    div{
        padding:10px;
        p,h2{
            padding-bottom: 10px;
        }
    }
}
@media (max-width:600px){
    .footerBar{
        display: grid;
        grid-template-columns: 1fr;
    }
}