.benefitSlider{
    align-items: center;
    text-align: center;
    padding: 20px 50px;
    background-color: rgba(246, 243, 243, 0.541);

    img{
        max-width: 23px;
    }
}
.benefitSliderWrapper{
    padding: 10px 70px;
}