body{
    overflow-x: hidden;
}
.main{
    margin-top: 55px;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


  @media (max-width: 600px) {
      
    .main{
        position: relative;
        overflow: hidden;
    }
  }    